$margin_list: 0 4 8 10 16 20 24 26 32 40 48 50 56 64 80;
$padding_list: 0 8 10 16 20 24 32 40 48 56 60 86;
$min_width: 0 8 16 24 32 40 48 56 80 100 150 200;
$max_width: 0 8 16 24 32 40 48 56 80 100 150 200 600;
$fzs: 0, 12, 14, 16, 20, 24, 28, 32, 36, 38, 40, 48;
$fw: 100, 200, 300, 400, 500, 600, 700, 800, 900;
$bdrs_primary: 4px;
$bdrs_round: 20px;
$bdrs_circle: 50%;
$z_header: 100; // fix 状态的 header
$z_sidebar: 110; // 侧边栏
$z_toast: 300; // toast提示
$z_dialog: 200; // 弹窗
$z_overlay: 100; // 浮层
$color_primary: #0b6fd6;
$color_1: #1e1f23;
$color_2: #2a2b31;
$color_3: #686c78;
$color_4: #999ea8;
$color_5: #cbd1da;
$color_6: #e7eaef;
$color_7: #f7f9fc;
$color_8: #fff;
$color_white: #fff;
$color_blue: #0b6fd6;
$color_green: #11ab4e;
$color_red: #f04038;
$color_yellow: #faaf2b;
